<div class="Abstract Action">
	<div class="Abstract Abstract--content Action-grid">

		<div class="Action-title">
			<img src="medias/pickup_ca.png">
			<span class="Abstract-title Abstract-title--lit">
				Participer
			</span>
		</div>
		
		<p class="Action-text Action-participate Abstract-text w6 Abstract-text--lit">
			Nous invitons tous ceux qui le souhaitent à venir découvrir l'équipe et son style de jeu. Si l'expérience vous tente, rien de plus simple, présentez-vous sur le forum ou sur TeamSpeak et demandez à participer, nous vous expliquerons tout ce qu'il faut savoir.
		</p>
	
		<a class="Abstract-button
				  Abstract-button--centered
				  w4
				  Action-text-link--participate"
			href="https://www.corp-arma.fr/forum"
		>
			Forum
		</a>

		<div class="Action-title">
			<img src="medias/unknown_ca.png">
			<span class="Abstract-title Abstract-title--lit">
				Plus d'infos
			</span>
		</div>
		
		<p class="Action-text Action-about Abstract-text w6 Abstract-text--lit">
			Vous trouverez plus de détails sur l'équipe et le fonctionnement de l'association sur la page d'information. Par ailleurs, n'hésitez pas à solliciter les membres de la team pour obtenir des réponses à vos interrogations.
		</p>
	
		<a class="Abstract-button
				  Abstract-button--centered
				  w4
				  Action-text-link--about"
			href="https://www.corp-arma.fr/forum/about"
		>
			Page d'information
		</a>

	</div>
</div>
