<footer class="Abstract Abstract--noPadding Abstract-text Footer">
	<div class="Abstract Abstract--noPadding Abstract--content w12">
		CORP - association 1901 - <script>document.write(new Date().getFullYear())</script>
	</div>
</footer>
