<div class="Abstract Header">
	<div class="Abstract Abstract--content w8 Header-inner">
		
		<img class="Header-logo" src="medias/corp.png">
		
		<h1 class="Abstract-title Header-title">
			CORP<br>
			<span class="Header-title--description">
				Équipe Arma 3 simulation/réalisme
			</span>
		</h1>

		<iframe
			class="Header-video"
			width="100%"
			height="347"
			src="https://www.youtube.com/embed/?listType=playlist&list=PLcnYf-e_5J-Nme6h8MMcAqyL4TBXOsFIz" 
			frameborder="0"
			allowfullscreen
		>
		</iframe>

		<!--
		<div class="Header-visual">
			<img class="Header-visual-soldiers w6" src="medias/soldiers.png">
		</div>
		-->

	</div>
</div>
