<section class="Abstract Abstract--padding Presentation">
	<div class="Abstract Abstract--content w12 Presentation-grid" itemscope itemtype="http://schema.org/Corporation">

		<div class="Presentation-visual">
			<img class="Presentation-visual-soldiers w5" src="medias/soldiers.png">
		</div>

		<h2 class="Abstract-title Presentation-title">Un jeu, une passion</h2>
		
		<p class="Abstract-text Presentation-text" itemscope itemprop="description">
			Le <span itemprop="name">CORP</span> incarne une unité d'infanterie inter-armées fictive, déployable sur tous types de théâtres pour des missions d'action rapide. Nos membres sont réunis autour d'une même passion de la série Arma. Nous pratiquons un jeu collectif technique orienté groupe de combat autonome. L'expérience et les compétences de nos membres nous permettent de développer un environnement de jeu immersif et réaliste. Le CORP peut compter sur l'implication et la motivation de tous ses membres pour allier qualité de jeu et bonne ambiance.
		</p>

	</div>
</section>
