<section class="Abstract Social">
	<ul class="Abstract Abstract--content w12 Social-flex w12">
		
		<li>
			<a href="ts3server://ts.corp-arma.fr" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/teamspeak.jpg">
				</div>
				<p class="Social-flex-item-text">
					ts.corp-arma.fr
				</p>
			</a>
		</li>

		<li>
			<a href="https://www.youtube.com/channel/UCEnTBvMED3Id5NZQpjsCuvQ" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/youtube.jpg">
				</div>
				<p class="Social-flex-item-text">
					Chaîne YouTube
				</p>
			</a>
		</li>

		<li>
			<a href="http://steamcommunity.com/groups/corp_team" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/steam.jpg">
				</div>
				<p class="Social-flex-item-text">
					Groupe Steam
				</p>
			</a>
		</li>
		
		<li>
			<a href="https://units.arma3.com/unit/corp" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/arma-units.jpg">
				</div>
				<p class="Social-flex-item-text">
					Unité Arma
				</p>
			</a>
		</li>

	</ul>
</section>
