<section class="Abstract Social">
	<ul class="Abstract Abstract--content Social-flex w12">
		
		<li>
			<a href="ts3server://ts.corp-arma.fr" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/teamspeak.jpg">
				</div>
				<p class="Social-flex-item-text">
					Le point de ralliement de l'équipe. Venez faire connaissance de vive voix.<br>
					Adresse: ts.corp-arma.fr
				</p>
			</a>
		</li>

		<li>
			<a href="https://www.youtube.com/channel/UCEnTBvMED3Id5NZQpjsCuvQ" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/youtube.jpg">
				</div>
				<p class="Social-flex-item-text">
					Si vous voulez vous faire une idée de ce que l'on fait, les vidéos Youtube sont là.
				</p>
			</a>
		</li>

		<li>
			<a href="http://steamcommunity.com/groups/corp_team" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/steam.jpg">
				</div>
				<p class="Social-flex-item-text">
					Rejoignez le groupe Steam du CORP et suivez l'actu de la team.
				</p>
			</a>
		</li>
		
		<li>
			<a href="https://units.arma3.com/unit/corp" class="Social-flex-item w3">
				<div class="Social-flex-item-image">
					<img src="medias/arma-units.jpg">
				</div>
				<p class="Social-flex-item-text">
					Unité Arma.
				</p>
			</a>
		</li>

	</ul>
</section>
