.Action {
	background-color: @theme-main-color;
	padding: unit((@gutter * @block-padding-multiplier), px) 0 unit(@gutter, px) 0;
}
	.Action-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: unit(@gutter, px);
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"participate-title about-title"
			"participate about"
			"participate-link about-link";
	}
		.Action-title {
			display: flex;
			height: 64px;
			line-height: 64px;
			text-align: center;
			justify-content: center;
		}
			.Action-title img {
				margin-right: unit((@gutter / 4), px);
			}
		.Action-text {
			color: tint(@theme-main-color, 90%);
		}
		.Action-participate {
			grid-area: participate;
		}
		.Action-about {
			grid-area: about;
		}
		.Action-text-link--participate {
			grid-area: participate-link;
		}
		.Action-text-link--about {
			grid-area: about-link;
		}

@media screen and (max-width: 872px) {
	.Action {
		padding: unit((@gutter * @block-padding-multiplier-r2), px) 0 unit(@gutter, px) 0;
	}
	.Action-grid {
		display: block;
		align-content: center;
	}
	.Action-title {
		margin-bottom: unit(@gutter, px);
	}
	.Action-text {
		margin-bottom: unit(@gutter, px);
	}
	.Action-text-link--participate {
		margin-bottom: unit((@gutter * @block-padding-multiplier-r2), px);
	}
}
