.Header {
	height: 100vh;
	background-color: #fff;
	position: relative;
	background-image: url(../../medias/background-header.jpg);
	background-size: cover;
	background-position: center;
}
	.Header-inner {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
		.Header-logo {
			display: block;
			width: unit(@w3, px);
			height: unit(@w3, px);
			margin: -9px auto unit(@gutter, px) auto;
		}
		.Header-title {
			text-align: center;
			font-size: 440%;
			line-height: 40%;
			font-weight: normal;
			margin-bottom: unit(@gutter, px);
			text-shadow: #fff 0 0 unit((@gutter * 2), px);
		}
		.Header-title--description {
			font-size: 32%;
			font-weight: bold;
		}
		.Header-video {
			box-shadow: #fff 0 0 unit((@gutter * 2), px);
		}

@media screen and (max-height: 720px), screen and (max-width: 632px) {
	.Header-video {
		display: none;
	}
}

@media screen and (max-width: 632px) {
	.Header-inner {
		width: 100% !important;
	}
}
