.Presentation {
	background-color: darken(#fff, 5%);
	background-color: #fff;
}
	.Presentation-grid {
		display: grid;
		grid-template-columns: 7fr 5fr;
		grid-gap: unit(@gutter, px);
		grid-template-rows: auto auto;
		grid-template-areas:
			"title visual"
			"text visual";
	}
		.Presentation-title {
			grid-area: title;
		}
		.Presentation-text {
			grid-area: text;
		}
		.Presentation-visual {
			grid-area: visual;
			position: relative;
		}
			.Presentation-visual-soldiers {
				width: unit(@w5, px);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

@media screen and (max-width: 1040px) {
	.Presentation-visual-soldiers {
		width: unit(@w5-r1, px);
	}
}

@media screen and (max-width: 872px) {
	.Presentation-grid {
		grid-template-columns: 12fr;
		grid-template-areas:
			"title"
			"text";
	}
	.Presentation-visual {
		display: none;
	}
}
