@social-border-width: 4;

.Social {
	background-color: @theme-main-color;
	padding: unit(@gutter, px) 0 unit((@gutter * @block-padding-multiplier), px) 0;
}
	.Social-flex {
		display: flex;
		flex-wrap: wrap; 
		justify-content: space-between;
		list-style-type: none;
	}
		.Social-flex-item {
			display: block;
			height: unit(@w3, px);
			background-color: tint(@theme-main-color, 5%);
			text-decoration: none;
			text-align: center;
			border-radius: unit(@border-radius, px);
			overflow: hidden;
			box-sizing: border-box;
			box-shadow: rgba(0, 0, 0, 0) 0 2px 2px;
			transition: background-color 100ms linear, box-shadow 100ms linear;
		}
		.Social-flex-item:hover {
			background-color: tint(@theme-main-color, 10%);
			box-shadow: rgba(0, 0, 0, 0.25) 0 6px 24px;
		}
			.Social-flex-item-image {
				width: 100%;
				height: unit((@w2 - @social-border-width * 2), px);
				overflow: hidden;
				position: relative;
			}
				.Social-flex-item-image img {
					width: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			.Social-flex-item-text {
				color: #fff;
				padding: unit((@gutter), px) unit((@gutter / 2), px);
				text-decoration: none;
				line-height: 80%;
			}

@media screen and (max-width: 872px) {
	.Social {
		padding-top: unit((@gutter * 2), px);
		padding-bottom: unit((@gutter * @block-padding-multiplier-r2), px);
	}
	.Social-flex {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: unit(@gutter, px);
		grid-template-rows: auto auto;
		grid-template-areas:
			"social-teamspeak social-youtube"
			"social-steam social-units";
	}
	.Social-flex-item {
		width: 100% !important;
	}
}
@media screen and (max-width: 550px) {
	.Social-flex {
		display: block;
	}
	.Social-flex > li {
		margin-bottom: unit(@gutter, px);
	}
	.Social-flex > li:last-child {
		margin-bottom: 0;
	}
}
